body {
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-align: center;
}

.hidden {
    display: none;
    opacity: 0;
}

.invisible {
    opacity: 0;
}

#hzImg {
    display: none !important;
}

.file, #controls {
    display: inline-block;
    background-color: #444;
    padding: 1.15em 2em;
    line-height: 1.25em;
    border: 0.15em solid #777;
    border-radius: 0.5em;
    transition: opacity 0.35s;
}

#fileInfo {
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #777;
    border-radius: 6px;
    text-align: left;
    line-height: 1.25em;
    transition: opacity 0.35s;
}

.selected .image {
    outline: 2px solid red;
    outline-offset: -2px;
}

.selected {
    text-decoration: line-through;
}

#controls {
    padding: 1.15em 0.25em 1.15em 2em;
}

#stats {
    padding-right: 0.5em;
}

#images {
    display: flex;
    align-items: center;
    height: calc(90vh);
}

.image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #777;
    border-radius: 4px;
}

.image img {
    max-width: 100%;
    max-height: calc(65vh);
    align-self: center;
    vertical-align: -webkit-baseline-middle;
}

.image .feather-search {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 4px 0 2px 0;
    cursor: pointer;
}

.section {
    padding: 0.25em 0.35em;
}

#overlay {
    position: absolute;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s;
}

#overlay.shown {
    pointer-events: all;
    opacity: 1;
}

#previewImg {
    max-width: calc(90vw - 2em);
    max-height: calc(90vh - 2.5em);
    box-shadow: 0 0 4em rgba(255, 255, 255, 0.35);
    transition: box-shadow 0.35s;
}

#previewImg.selected {
    box-shadow: 0 0 4em rgba(255, 0, 0, 0.75);
}

#overlay .feather-x {
    cursor: pointer;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
}

#imageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(97vw);
    padding-top: 1em;
}

#rightArrow, #leftArrow {
    padding: 0.5em;
    cursor: pointer;
}

.pager {
    color: #aaa;
}

.pager .dots {
    font-size: 2em;
    cursor: pointer;
    transition: color 0.25s;
}

.pager .dots.active {
    color: white;
}

/* Loading spinner from https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    position: relative;
    left: 5px;
    top: 6px;
    transition: opacity 0.2s;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}