body {
    background-color: #555;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#hzImg {
    display: none !important;
}

.selected .image img {
    outline: 2px solid red;
    outline-offset: -2px;
}

.selected {
    text-decoration: line-through;
}

#controls {
    padding-bottom: 0.5em;
}

#stats {
    padding-right: 0.25em;
}

#images {
    display: flex;
    align-items: center;
    height: calc(94vh);
}

.image {
    position: relative;
    display: inline-block;
    margin: 0.5em;
}

.image img {
    max-width: 100%;
    max-height: calc(80vh);
    border: 1px solid white;
    align-self: center;
}

.image svg {
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 8px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 3px 0 0 0;
    cursor: pointer;
}

.section {
    padding: 0.25em 0.35em;
    text-align: center;
    display: none;
}

#overlay {
    position: absolute;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s;
}

#overlay.shown {
    pointer-events: all;
    opacity: 1;
}

#previewImg {
    max-width: calc(90vw);
    max-height: calc(90vh);
    box-shadow: 0 0 4em rgba(255, 255, 255, 0.35);
    transition: box-shadow 0.35s;
}

#overlay svg {
    cursor: pointer;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
}

.pager {
    font-size: 2em;
    color: #aaa;
}

.pager span {
    cursor: pointer;
}

.pager .active {
    color: white;
}

#loader {
    display: none;
}

/* Loading spinner from https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    position: relative;
    left: 5px;
    top: 6px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}