body {
    background-color: #555;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.selected img {
    border-color: red;
}

.selected {
    text-decoration: line-through;
}

img {
    max-width: 100%;
    max-height: calc(85vh);
    border: 1px solid white;
    align-self: center;
}

#controls {
    padding-bottom: 0.5em;
}

#stats {
    padding-right: 0.25em;
}

.images {
    height: calc(95vh);
    display: flex;
    align-items: center;
}

.image {
    position: relative;
    display: inline-block;
}

.image svg {
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 8px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px 0 0 0;
    cursor: pointer;
}

.section {
    padding: 0.25em 0.35em;
    text-align: center;
    display: none;
}

#loader {
    display: none;
}

/* Loading spinner from https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    position: relative;
    left: 5px;
    top: 5px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}